@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
}


.title img {
    width: 100px;
    height: 100px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    background-color: #f7f8f3;
}

.title1 {
    text-align: center;
    color: #281859
}


.title1 :nth-child(1) {
    font-family: "Cabin", sans-serif;
    font-size: 32px;
    font-weight: 400;
}




.title1 :nth-child(2) {
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    font-weight: 400;
}


.header {
    background-color: #281859;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.instruction {
    padding: 10px 0px 7px 0px;
    width: 97.5vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.instruction .intro {
    padding-left: 3px;
    color: white;
    background-color: #157EC2;
    font-size: 15px;
    padding: 4px 6px 4px 6px;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 700;
}


.box-header {
    background-color: #281859;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    color: white;
    position: sticky;
    top: 0px;
    margin-top: 10px 0px;

}


.header ul li {
    list-style: none;
    padding: 9px 10px 10px 15px;

}

.header ul {
    display: flex;
    flex-wrap: wrap;
}

.header ul li a {
    color: white;
    text-decoration: none;
}

/* .header ul li:hover{
    background-color: white;
} */

.header ul li a:hover{
    text-decoration: underline;
}



.box {
    border: 3px solid #281859;
    max-height: 415px;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 400;
    overflow: auto;
    background-color: #f7f8f3;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding: 20px 20px;
    /* flex-direction: column; */
   
}





.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 600px;
    margin: 20px;  
    gap: 25px;     
  }
  .info-direct{
    display: flex;
    gap: 10px;
  }
  

  .card img{
     width: 100px;
     height: 100px;
  }



  .info {
    flex: 1;
  }
  
  .direction {
    display: flex;
    align-items: center;
  }
  
  .direction img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .direction-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .direction-button:hover {
    background-color: #0056b3;
  }
  

  .qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }




  .news-header {
    background-color: #281859;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    width: 47vw;
    color: white;
}

.news-opinion {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding-top: 15px;
}

.news-body {
    height: 450px;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    list-style: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

footer {
    font-family: "Lato", sans-serif;
    background-color: #281859;
    padding: 20px;
}

@media screen and (max-width:1469px) {
    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 28px;
        padding: 20px 20px;
        /* flex-direction: column; */
       
    }
    
}

@media screen and (max-width:1071px) {
    .news-header {
        width: 46vw;
    }

    @media screen and (max-width :773px) {
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        .news-opinion {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .news-header {
            width: 95vw;
        }


    }

    @media screen and (max-width :650px) {
        .news-header {
            width: 85vw;
        }

        .news {
            display: flex;
            flex-direction: column;
        }
        .info-direct{
            display: flex;
            flex-direction: column;
        }
        .arrow{
            display: none;

        }
        .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 3px;
        }


    }

}
@media screen and (max-width:488px) {
    .card{
        margin: 7px;

    }
    
}
